<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>bigspace</title>
    <meta name="description" content="an infinite space of resources">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="https://rawgithub.com/tilomitra/cssextras/master/css/cssextras.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header>

      <!-- auth nav -->
      <div id="authNav" style="float: right;">
      </div>

      <!-- top menu -->
      <div class='pure-menu pure-menu-open pure-menu-horizontal'>
        <ul id='top-menu'>
          <li><a href='/space'>index</a></li>
          <li><a href=''>changeCreature</a></li>
        </ul>
      </div>
      <hr />

      <!-- in-spaces menu -->
      <div id='in-spaces-nav' class='pure-menu pure-menu-open pure-menu-horizontal'></div>
      <hr />

      <!-- error bar -->
      <div id='error' class="yui3-alert yui3-alert-error" style="padding: 0px; margin: 0px;">
      </div>
      
    </header>
    <div id='main'>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <link type="text/css" rel="stylesheet" href="css/jquery.dropdown.css" />
    <script type="text/javascript" src="js/vendor/jquery.dropdown.js"></script>
    <script src="https://login.persona.org/include.js"></script>
  </body>
</html>
